{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log share</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    {% block header %}
    {% endblock %}
</head>
<body>

<div class="wrapper">
    <div class="logo">
{#        로그인 후 main으로  url로 바꿔야함.#}
        <a href="{% url 'search:main_search' %}">
            <div class="logofont">LOG SHARE</div>
{#            <div class="logoimg_div"><img id="logoimg" src="../../media/로고%20하얀.png" alt=""/></div>#}
            <div class="logoimg_div"><img id="logoimg" src="{% static 'img/로고%20하얀.png' %}" alt=""/></div>
        </a>
    </div>
    <div class="nav">
        <ul class="menu">
            <li><a href="{% url 'search:main_search' %}">홈</a></li>
            <li><a href="{% url 'post:post_list' %}">포스트리스트</a></li>
            <li><a href="" id="group">그룹</a>
                <ul class="sub1" style="list-style: none">
                    <li><a href="{% url 'group_management:create_group' %}">그룹 생성</a></li>
                    <li><a href="{% url 'group_management:search_group' %}">그룹검색/가입</a></li>
                    <li><a href="{% url 'group_management:all_group' %}">내 그룹 리스트</a></li>
                    <li><a href="{% url 'group_management:request_from' %}">내 가입 요청</a></li>
                </ul>
            </li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'myprofile:profile_detail' request.user.pk %}">프로필</a>
                <ul class="sub2" style="list-style: none">
                    <li><a href="{% url "myprofile:profile_edit" request.user.pk %}">프로필 변경</a></li>
                    <li><a href="{% url 'myprofile:profile_detail' request.user.pk %}">자기 게시물</a></li>
                </ul>
            </li>
        {% endif %}
            <li><a href="{% url 'post:post_create' %}">글 작성하기</a></li>
            <li><a href="{% url "accounts:password_change" %}">{{ request.user.user_profile.name }}</a></li>
            <li><a href="{% url 'main:main_front' %}">로그아웃</a></li>

        </ul>
    </div>
</div>
<div class="body_container">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>
