<style>
    .wrap {
        width: 75%;
        margin: 60px auto;
        border: 1px solid #b0bec9;
        border-bottom: none;
        box-shadow: 2px 2px 2px #b0bec9;
        border-radius: 5px;
        background-color: white;
        margin-bottom: 100px;
        padding-bottom: 100px;

    }

    .topbar {
        height: 35px;
        padding: 20px 40px 10px;
        background-color: white;
        border-bottom: 2px solid #b0bec9;
    }

    .big_title {
        float: left;
        font-size: 20px;
        color: #1a237e;
        line-height: 35px;
        font-weight: bold;
    }

    .my_info {
        width: 900px;
        box-shadow: 2px 2px 2px #417690;
        border: 1px solid #b0bec9;
        border-radius: 5px;
        display: inline-block;
	margin-top: 3%;
	margin-left: 10%;
    }

    .profile_first_content {
        margin-top: 30px;
        line-height: 30px;
        margin-left: 90px;
    }

    .url_content > div {
        color: black;
        position: relative;
        width: 300px;
        margin: 50px 60px;
    }

    .btn_profile_password {
        background-color: #00B0F0;
        display: inline-block;
        color: white;
        border-radius: 5px;
        border: 1px solid #00B0F0;
        float: right;
        width: 100px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        margin-top: 30px;
        margin-right: 90px;
        margin-left: 20px;
        box-shadow: 2px 2px 2px #b0bec9;
    }

    .btn_profile_edit {
        background-color: #00B0F0;
        display: inline-block;
        color: white;
        border-radius: 5px;
        border: 1px solid #00B0F0;
        float: right;
        width: 100px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        margin-top: 30px;
        box-shadow: 2px 2px 2px #b0bec9;

    }


    .btn_profile_edit:hover {
        background: #1E88E5;
        color: white;
        border: 1px solid #1E88E5;
    }

    .btn_profile_password:hover {
        background: #1E88E5;
        color: white;
        border: 1px solid #1E88E5;

    }

    .backcolor {
        background-color: #00B0F0;
        height: 200px;
        border-radius-topleft: 5px;
        border-radius-topright: 5px;
        border: 1px solid #00B0F0;
        text-align: right;
    }

    .profile_img {
        width: 200px;
        height: 200px;
        border-radius: 100px;
        margin-top: 100px;
        margin-left: 340px;
        border: 4px solid #ffffff;
        float: left;
    }

    #profile_base {
        width: 200px;
        height: 200px;
        border-radius: 100px;
        margin-top: 100px;
        margin-left: 340px;
        border: 4px solid #ffffff;
        float: left;

    }

    .profile_card_content {
        margin-top: 120px;
        padding-bottom: 60px;
    }

    .profile_name {
        font-size: 24px;
        font-weight: bold;
        margin-left: 420px;
    }

    .profile_depart, .profile_intro, .profile_tag, .profile_url {
        padding: 10px;
        width: 700px;
        border-radius: 5px;
        box-shadow: 2px 2px 2px #b0bec9;
        border: 1px solid #b0bec9;
        margin-bottom: 20px;
    }

    .naver_label {
        font-size: 15px;
        width: 140px;
        height: 26px;
        border-radius: 5px;
        display: inline-block;
        text-align: center;
        background-color: #6cc0e5;
        margin-left: 20px;
    }

    .daum_label {
        font-size: 15px;
        width: 140px;
        height: 26px;
        border-radius: 5px;
        display: inline-block;
        text-align: center;
        background-color: #6cc0e5;
        margin-left: 20px;
    }

    .github_label {
        font-size: 15px;
        width: 140px;
        height: 26px;
        border-radius: 5px;
        display: inline-block;
        text-align: center;
        background-color: #6cc0e5;
        margin-left: 20px;
    }

    .other_label {
        font-size: 15px;
        width: 140px;
        height: 26px;
        border-radius: 5px;
        display: inline-block;
        text-align: center;
        background-color: #6cc0e5;
        margin-left: 20px;
    }

    #a_tag {
        width: 100%;
        height: 100%;
        color: white;
    }

    #profile_logo {
        color: white;
        margin-right: 20px;
        line-height: 40px;
        font-weight: bold;

    }

    .interested_tag {
        color: white;
        border: 0px;
        border-radius: 2px;
        font-size: 15px;
        margin: 2px 0px;
        padding: 5px;
        transition: all .1s;
    }

    .interested_tag:hover {
        cursor: pointer;
        outline: 2px groove #1a237e;
    }


</style>

{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class="wrap">
        <div class="topbar">
            <div class="big_title">내 프로필</div>
        </div>
        <div class="my_info">
            <div class="backcolor">
                <div class="box_profile_img">
                    {% if profile.photo %}
                        <img src="{{ profile.photo.url }}" alt="" class="profile_img"/>

                    {% else %}
                        <img src="{% static "img/profile_base.jpg" %}" id="profile_base">
                    {% endif %}
                </div>
                <p id="profile_logo">LOGSHARE PROFILE</p>
            </div>
            <div class="btn_profile_password"><a href="{% url "accounts:password_change" %}">비밀번호 변경</a></div>
            <div class="btn_profile_edit"><a href="{% url "myprofile:profile_edit" request.user.pk %}">프로필 수정</a>
            </div>
            <div class="profile_card_content">
                <div class="profile_name">{{ profile.name }}</div>
                <div class="profile_first_content">
                    <div class="profile_depart">소속<br>{{ profile.department }}</div>
                    <div class="profile_intro">자기소개<p>
                        {% if profile.description != None %}
                            {{ profile.description }}
                        {% endif %}
                    </p>
                    </div>
                    <div class="profile_tag">관심태그<br>
                        {% if profile.interested_tag != None %}
                            {% for tag, size in interested_tag_dict.items %}
                                <a href="" class="interested_tag">{{ tag }}</a>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="profile_url">사이트<br>
                        <div>네이버 URL:
                            {% if profile.naver != None %}
                                <div class="naver_label"><a href="{{ profile.naver }}" id="a_tag">네이버 URL 바로가기</a></div>
                            {% endif %}
                        </div>
                        <div>다음 URL:
                            {% if profile.daum != None %}
                                <div class="daum_label"><a href="{{ profile.daum }}" id="a_tag">다음 URL 바로가기</a></div>
                            {% endif %}
                        </div>
                        <div>github URL:
                            {% if profile.github != None %}
                                <div class="github_label"><a href="{{ profile.github }}" id="a_tag">Github URL 바로가기</a>
                                </div>
                            {% endif %}
                        </div>
                        <div>other URL:
                            {% if profile.other_url != None %}
                                <div class="other_label"><a href="{{ profile.other_url }}" id="a_tag">others URL
                                    바로가기</a></div>
                            {% endif %}
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script type="text/javascript">
        var get_random_RGB = function () {
            var r = Math.floor((Math.random() * 0xcc) + 0x11).toString(16);
            var g = Math.floor((Math.random() * 0xcc) + 0x11).toString(16);
            var b = Math.floor((Math.random() * 0xcc) + 0x11).toString(16);
            return '#' + r + g + b;
        }
        $('.interested_tag').each(function () {
            $(this).css('background-color', get_random_RGB);
        })
    </script>

{% endblock %}
