<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% for post in posts %}
        <div>
        <p>
            제목 : <a href="{% url 'myprofile:post_detail' post.pk %}">{{ post.title }}</a> <br>
            작성자 : {{ post.user }}
        </p>
        </div>
    {% endfor %}


</body>
</html>
