<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
나는프로필입니다.
이름:{{ profile.user.username }}
{% for site in sites %}
    <button><a href="{{ site.link }}">사이트</a></button>
{% endfor %}

    {% for post in posts %}
        <p>
        제목 : {{ post }}
        내용 : {{ post.contents }}
        시작일 : {{ post.start_date }}
        종료일 : {{ post.end_date }}
        </p>
        <br>
    {% endfor %}



</body>
</html>
