<style>
    .temp {
        width: 80%;
        margin: 50px auto;
    }
    form{
        background-color: white;
        border-radius: 5px;
        padding: 10px 10px;
        box-shadow: 2px 2px 2px #b0bec9;
    }
    form p{
        background-color: transparent;
    }
    form label{
        background-color: transparent;
    }
    form div{
        background-color: transparent;
    }
    form div strong{
        background-color: transparent;
    }
    form #id_photo{
        background-color: transparent;
    }

</style>

{% extends "base.html" %}

{% block content %}
<div class="temp">
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{ user_change_form.as_p }}
        </table>
        <table>
            {{ profile_form.as_p }}
        </table>
        <input type="submit" value="수정하기"/>
    </form>
    <br>
</div>
{% endblock %}