* {
    font-family: 나눔스퀘어;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
.wrapper {
    width: 100%;
    height: 80px;
    background-color: white;
    /*border:solid 1px black;*/
    margin:0px;
    padding: 0px;
}
/*div안에 a태그가 있으면 css가 잘 적용이안됨... 그럴때는 a태그에 display:block;를  넣어줌.*/
a{
    display: block;
    color:#1a237e;
}
a:hover{
     display: block;
    color:white;
}

.logo {
    margin-left: 200px;

}
.logoimg_div {
    display: inline-block;
    align-content: center;
}

#logoimg {
    width: 250px;
    line-height: 80px;
    position: absolute;
    top:8px;
    display: inline-block;
}
.menu{
    margin-right: 200px;
}
.menu>div{
    width: 100px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    display: inline-block;
    float: right;
    margin-right: 40px;
    border: solid 1px #1a237e;
    border-radius: 5px;
}
.menu>div:hover{
    background-color: #1a237e;
    border: solid 1px #1a237e;
    box-sizing: border-box;
}
.container>div{
    display: inline-block;
}
.title{
    position: absolute;
    top:150px;
    margin-left: 200px;
    font-size: 80px;
    text-align: center;
    line-height: 100px;
}
.title>div{
    color:#1a237e;
    font-size: 30px;
}
#mainlogo{
    width: 500px;
    box-sizing: border-box;
    position: absolute;
    top:200px;
    left: 55%;
}

