<style>
    .container {
        border: solid 1px #b0bec9;
        box-shadow: 2px 2px 2px #b0bec9;
        margin: 80px auto;
        text-align: center;
        width: 620px;
        border-radius: 5px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    form {
        border-radius: 5px;
        margin: 10px auto;
        font-size: 15px;
        list-style: none;
        padding: 40px 20px;
    }

    h2 {
        line-height: 20px;
    }

    input {
        margin-bottom: 20px;
        width: 300px;
        height: 40px;
        border-radius: 5px;
        border: solid 1px #b0bec9;
        padding-left: 10px;
    }

    table {
        line-height: 30px;
    }

    ul {
        list-style: none;
    }

    th {
    {#border: 1px solid black;#} vertical-align: text-top;
    }

    input[type=password] {
        font-family: "Adobe 고딕 Std B";
    }

    input[type=submit] {
        background-color: #1E88E5;
        border: 1px solid #00B0F0;
        color: white;
        font-size: 15px;
    }

</style>
{% extends "accounts/signupbase.html" %}

{% block content %}
    <div class="container">
        암호 리셋을 완료했습니다.
        <br><br><br>
    <a href="{% url 'accounts:login' %}"><input type="submit" value="홈으로"/></a>
    </div>
{% endblock %}
