<style>
    .container {
        border: solid 1px black;
        margin: 80px auto;
        text-align: center;
        width: 500px;
        border-radius: 5px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    form {
        padding: 40px;
        border-radius: 5px;
        margin: 0px auto;
        font-size: 20px;
    }

    h2 {
        line-height: 40px;
    }

    h4 {
        line-height: 40px;
    }

    input {
        width: 300px;
        height: 40px;
        border-radius: 5px;
        border: solid 1px black;
        padding-left: 10px;
    }

    #save {
        width: 145px;
        height: 40px;
       float: left;
        background-color: #1a237e;
        border-radius: 5px;
        color: white;
    }

    #cancel {
        width: 145px;
        height: 38px;
        border: 1px solid black;
        border-radius: 5px;
        float: left;
        font-size: 15px;
        line-height: 40px;
        color:black;
        margin-right: 6px;
    }
    .btn{
        {#border: 1px solid black;#}
        margin-left: 90px;
        margin-top: 20px;
    }

</style>
{% extends "accounts/signupbase.html" %}

{% block content %}
    <div class="container">
        <h2>먼저 계정을 찾아보겠습니다.</h2>
        <h4>등록한 이메일을 입력하세요.</h4>
        <form action="" method="post">
            {% csrf_token %}
            <table>
                {{ form.as_p }}
            </table>
            <div class="btn">
                <div id="cancel"><a href="{% url "accounts:login" %} "style="color: black">취소</a></div>
                <div id="save"><input type="submit" id="save" value="계정 찾기"/></div>
            </div>
        </form>
    </div>
{% endblock %}
