<style>
    .container {
        box-shadow: 2px 2px 2px #b0bec9;
        border: solid 0.5px #b0bec9;
        margin: 80px auto;
        width: 570px;
        border-radius: 5px;
        padding-top: 30px;
        padding-bottom: 30px;
        background-color: white;
        font-size: 20px;
    }

    form {
        padding: 40px;
        border-radius: 5px;
        margin: 0px 20px;
        font-size: 15px;
    }
    ul{
        list-style: none;
        margin-left: 90px;
    }
    input{
        margin-bottom: 10px;
        border-radius: 5px;
        border: solid 1px #b0bec9;
        width: 250px;
        height: 40px;
    }
    #save{
        margin-left: 25%;
        background-color: #1E88E5;
        border: 1px solid #00B0F0;
        color: white;
    }
    label{
        padding-right: 10px;
    }

</style>
{% extends "base.html" %}
{% block content %}
    <div class="container">
        <form action="" method="post" class="form-horizontal">
            {% csrf_token %}
            {% for error in password_change_form.non_field_errors %}
                <div class="alert alert-danger">
                    {{ error }}
                </div>
            {% endfor %}
            {% for field in password_change_form.visible_fields %}
                <div class="form-group">
                    {{ field.label_tag }} {{ field }}
                    {% if field.help_text %}
                        <p class="help-block">
                            {{ field.help_text }}
                        </p>
                    {% endif %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            {{ error }}
                        </div>
                    {% endfor %}
                </div><br>
            {% endfor %}
            <div id="savebox"><input type="submit" id="save" value="변경"/></div>
        </form>
    </div>
{% endblock %}