{#{% extends "base.html" %}#}
{##}
{#{% block content %}#}
{#    <h2>암호 변경</h2>#}
{#    <form method="POST">#}
{#        {% csrf_token %}#}
{#        {% for field in password_change_form.fields %}#}
{#            {{ field.labels}}{{ field }}#}
{#        {% endfor %}#}
{#    <input type="submit" value="submit"/>#}
{#</form>#}
{#{% endblock %}#}

{#<form action="" method="post">{% csrf_token %}#}
{#{{ form.as_p }}#}
{#<input type="submit" value="그룹생성" />#}
{#</form>#}


<form action="" method="post" class="form-horizontal">
    {% csrf_token %}
    {% for error in password_change_form.non_field_errors %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
    {% endfor %}
    {% for field in password_change_form.visible_fields %}
        <div class="form-group">
            {{ field.label_tag }} {{ field }}
            {% if field.help_text %}
                <p class="help-block">
                    {{ field.help_text }}
                </p>
            {% endif %}

            {% for error in field.errors %}
                <div class="alert alert-danger">
                    {{ error }}
                </div>
            {% endfor %}
        </div><br>
    {% endfor %}
    <input type="submit" value="sumit">
</form>