<style>
    .container {
        box-shadow: 2px 2px 2px #b0bec9;
        border: solid 1px #b0bec9;
        border-radius: 5px;
        margin: 80px auto;
        text-align: center;
        width: 600px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    form {
        padding: 30px;
        border-radius: 5px;
        margin: 0px auto;
        font-size: 16px;
    }

    h2 {
        line-height: 40px;
        color: #1a237e;
    }

    h4 {
        line-height: 40px;
        font-weight: normal;
    }

    input {
        border-radius: 5px;
        border: solid 1px #b0bec9;
        width: 300px;
        height: 40px;
        padding-left: 10px;
    }

    #save {
        width: 145px;
        height: 40px;
        float: left;
        background-color: #1E88E5;
        border-radius: 5px;
        color: white;

    }

    #cancel {
        width: 145px;
        height: 38px;
        border: solid 1px #b0bec9;
        border-radius: 5px;
        float: left;
        font-size: 15px;
        line-height: 40px;
        color: #1a237e;
        margin-right: 10px;
        margin-left: 30px;
    }

    .btn {
        margin-left: 105px;
        margin-top: 20px;
    }

    a {
        color: #1a237e;
        width: 100%;
        height: 100%;
    }

</style>
{% extends "accounts/signupbase.html" %}

{% block content %}
    <div class="container">
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
                        {{ message.message }}
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <h2>당신의 이메일을 입력하면</h2>
            <h2>해당 이메일에서 비밀번호 변경이 가능합니다.</h2>
            <h4>계정이 없으면 이메일이 전송되지 않습니다.</h4>

            <form action="" method="post">
                {% csrf_token %}
                <table>
                    {{ form.as_p }}
                </table>
                <div class="btn">
                    <div id="cancel"><a href="{% url "accounts:login" %}">취소</a></div>
                    <div id="save"><input class="input_save" type="submit" id="save" value="계정 찾기"/></div>
                </div>
            </form>
        {% endif %}
    </div>

{% endblock %}


