<style>
    .container {
        border: solid 1px black;
        margin: 80px auto;
        width: 650px;
        border-radius: 5px;
        padding-top: 30px;
        padding-bottom: 30px;
        background-color: white;
        font-size: 20px;
    }

    form {
        padding: 40px;
        border-radius: 5px;
        margin: 0px 20px;
        font-size: 20px;
    }
    ul{
        list-style: none;
    }
    input{
        margin-bottom: 10px;
        width: 300px;
        height: 40px;
        border-radius: 5px;
        border: solid 1px black;
    }
    #save{
        margin-left: 25%;
    }

</style>
{% extends "base.html" %}
{% block content %}
    <div class="container">
        <form action="" method="post" class="form-horizontal">
            {% csrf_token %}
            {% for error in password_change_form.non_field_errors %}
                <div class="alert alert-danger">
                    {{ error }}
                </div>
            {% endfor %}
            {% for field in password_change_form.visible_fields %}
                <div class="form-group">
                    {{ field.label_tag }} {{ field }}
                    {% if field.help_text %}
                        <p class="help-block">
                            {{ field.help_text }}
                        </p>
                    {% endif %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            {{ error }}
                        </div>
                    {% endfor %}
                </div><br>
            {% endfor %}
            <div id="savebox"><input type="submit" id="save" value="변경"/></div>
        </form>
    </div>
{% endblock %}