{% extends "accounts/layout.html" %}

{% block content %}
    <h2>{{ user }}'s Profile</h2>
{#    {% if post.photo %}#}
{#        path :{{ user.profile.photo.path }} # /Users/nickname/documents/practice/media/jeju_pic.png#}
{#        url : {{ user.profile.photo.url }} # /media/jeju_pic.png#}
{#        <img src="{{ user.profile.photo.url }}" alt="">#}
{#    {% endif %}#}
    <br>
    유저 이름: {{ user.profile.name }}
    <br>
    유저 소속:{{ user.profile.department }}
    <br>
    유저 소속:{{ user.profile.description }}
    <br>
    유저 소속:{{ user.profile.naver }}
    <div>
        대표 URL
        <br>
        네이버 URL:{{ user.profile.naver }}
        <br>
        다음 URL:{{ user.profile.daum }}
        <br>
        github URL:{{ user.profile.github }}
    </div>

{% endblock %}
