<ul>
    {% if results %}
        {% for option, qs in results.items %}
            <li>
                {% for result in qs %}
                    {% if option == 'posts' %}
                        {% include 'search/result_post.html' %}
                    {% endif %}
                    {% if option == 'users' %}
                        {% include 'search/result_user.html' %}
                    {% endif %}
                    {% if option == 'custom_groups' %}
                        {% include 'search/result_group.html' %}
                    {% endif %}
                {% endfor %}

            </li>
        {% endfor %}
    {% endif %}

</ul>

