{% extends 'base.html' %}
{% load static %}

{% block header %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="{% static "search/search.css" %}">
    <link rel="stylesheet" href="{% static "search/side_profile.css" %}">
    <link rel="stylesheet" href="{% static "search/side_filter.css" %}">
    <style>
        :root {
            --primary-2: #1E88E5;
        }

        .side-profile {
            width: 290px;
        }

        .content div {
            border: 1px solid #3c3c3c;
        }

        .content-search {
            text-align: center;
        }

    </style>

    {% include 'search/post_list_css.html' %}

    <style>
        {#----------------------------content css--------------------------------#}
        .main-content {
            display: flex;
            justify-content: center;
            width: 80%;
            margin: 50px auto;
        {#align-content: center;#}
        }

        .content-side {
            flex: 1;
            padding: 30px;
        }

        .content-body {
            flex: 2;
            padding: 30px;
        }

        .body-search {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            align-items: center;
        }

        {#-------------------------------body-search css -----------------------------------------#}

        .feed-name {
            width: 80px;
        }

        {# --------TOP-------- #}
        .filter-form .top {
            color: #1E88E5;
            opacity: 0.5;
            position: fixed;
            left: 96%;
            top: 90%;
            font-size: 30px;
        }

    </style>
{% endblock %}

{% block content %}
    <form class="filter-form" action="" method="get">
        <div class="main-content">
            <div class="content-side">
                <div class="side-profile">
                    <div class="profile-content" id="profile-photo">
                        {% if request.user.user_profile.photo %}
                            <img src="{{ request.user.user_profile.photo.url }}" alt="프로필 이미지"/>
                        {% else %}
                            <img src="{% static 'img/person.jpg' %}" alt="프로필 이미지"/>
                        {% endif %}
                    </div>
                    <br>
                    <div class="profile-content">
                        <br>
                        <div id="profile-name"><a href="{% url 'myprofile:profile_detail' request.user.pk %}">
                            <span id="profile-name-span">{{ request.user.user_profile.name }}</span>님
                            ( {{ request.user }} )</a>
                        </div>
                        <div id="welcome">환영합니다!</div>
                        <br>
                        <div id="profile-bookmark">
                            <a href="{% url 'myprofile:bookmark_list' request.user.pk %}">
                                <button type="button" class="bookmark_button">나의 스크랩</button>
                            </a>
                        </div>
                        <br>
                        <div id="profile-request-alarm"><a href="{% url 'group_management:create_group' %}">
                            <button type="button" class="request_button">가입 요청 ({{ request_messages_cnt }})
                            </button>
                        </a>
                        </div>
                    </div>
                </div>
                <div class="side-filter">
                    <div class="filter">
                        <div class="filter_start"><i class="fas fa-search"></i> &nbsp검색 필터</div>
                        <br>
                        <hr>
                        <br>
                        <div class="filter_name">그룹 선택</div>
                        <br>
                        <div class="filter-group checks etrans">
                            <ul class="ks-cboxtags">
                                {% for group in groups %}
                                    <li><input id="group{{ group.id }}" name="group{{ group.id }}"
                                               value="{{ group.id }}"
                                               type="checkbox" checked>
                                        <label for="group{{ group.id }}">{{ group.group_name }}</label></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <hr class="filter-split">

                    <div class="filter">
                        <div class="filter_name">카테고리</div>
                        <br>
                        <div id="select_box">
                            <label for="category">category</label>
                            <select id="category" name='filter-category' title="select category">
                                <option value="" selected="selected">category</option>
                                <option value="대외활동">대외활동</option>
                                <option value="공모전">공모전</option>
                                <option value="스터디">스터디</option>
                                <option value="인턴">인턴</option>
                                <option value="강연">강연</option>
                                <option value="기타">기타</option>
                            </select>
                        </div>
                    </div>
                    <script type="text/javascript">
                        $(function () {
                            var select = $("select#category");

                            select.change(function () {
                                var select_name = $(this).children("option:selected").text();
                                $(this).siblings("label").text(select_name);
                            });
                        });
                    </script>

                    <hr class="filter-split">

                    <div class="filter">
                        <div class="filter_name">기간 설정</div>
                        <div class="filter-content filter-date">
                            <span class="date-span">Start Date</span><br>
                            <input name="date-start" type="date"><br>
                            <span class="date-span">End Date</span><br>
                            <input name="date-end" type="date"><br>
                        </div>
                    </div>
                </div>
            </div>


            <div class="content-body">
                <div class="body-search">
                    <div class="search-text">
                        {# ------검색 바------ #}
                        <fieldset class="field-container">
                            <input type="text" name="q" id="searchInput" placeholder="Search..." class="field"
                                   value="{{ q }}"/>
                            <div class="icons-container">
                                <div class="icon-search"></div>
                                <div class="icon-close">
                                    <div class="x-up"></div>
                                    <div class="x-down"></div>
                                </div>
                            </div>
                        </fieldset>

                    </div>
                    <div class="search-option">
                        <div class="search-container">
                            <div class="btn-group">
                                <div class="btn" data-value="posts">제목 + 내용</div>
                                <div class="btn" data-value="tags">태그</div>
                                <div class="btn" data-value="users">작성자</div>
                            </div>
                            <input type="hidden" id="options-input" name="options" value="">
                        </div>

                    </div>
                </div>
                <div class="body-feed">
                    {% include 'search/main_search.html' %}
                    {#                    {% include 'post/myprofile_post_list.html' %}#}
                </div>
                <div id="post_list_ajax"></div>

                <div id="profile_post_list_ajax"></div>
                {# ajax 결과물 추가할 곳 #}
                <input id="page" type="hidden" value="2"> {# 첫 next_page == 2 #}
                <input id="user" type="hidden" name="{{ profile.user.pk }}"> {# profile.user.pk를 ajax에서 사용하기 위해 #}
                <button id="callmorepost" type="button">More Post</button>
                {# ajax 결과물 추가할 곳 #}
            </div>
        </div>
        <a href="#" class="top"><i class="fas fa-caret-square-up"></i></a>
    </form>
    <br>
    {#    <input id="page" type="hidden" value="2"> {# 첫 next_page == 2 #}
    {#    <button id="callmorepost" type="button">More Post</button>#}

    <script type="text/javascript">
        {#$("input:radio[name='options']:radio[value='posts']").prop('checked', false); // 해제하기#}

        if ('{{ option }}') {
            {#$("input:radio[name='options']:radio[value={{ option }}]").prop('checked', true);#}
            {#$("input:radio[name='options']:radio[value={{ option }}]").addClass('active');#}
            $('div[data-value="{{option}}"]').addClass('active');
            $('#options-input').attr('value', '{{ option }}');
        } else {
            {#$("input:radio[name='options']:radio[value='posts']").prop('checked', true); // 선택하기#}
            {#$("input:radio[name='options']:radio[value='posts']").addClass('active');#}
            $('div[data-value="posts"]').addClass('active');
            $('#options-input').attr('value', 'posts');
        } // 선택하기

        $('.dropdown-menu.keep-open').click(function (e) {
            e.stopPropagation();
        });

        {#옵션 버튼 애니메이션#}
        $('.btn-group .btn').click(function (e) {
            {#console.log(e.attr('data-value'))#}
            data = $(this).attr("data-value");
            $('#options-input').val(data);
        });
        const pathLength = 68 * 2 + 200;

        class BtnGroup {
            constructor(group) {
                this.group = group;
                this.buttons = Array.prototype.slice.call(
                    this.group.querySelectorAll('.btn')
                );
                this.svg = document.createElementNS('http://www.w3.org/2000/svg', 'svg');
                this.svg.setAttribute('viewbox',
                    `-1 -1 ${160 * this.buttons.length + 2} 42`
                );
                this.path = document.createElementNS('http://www.w3.org/2000/svg', 'path');
                this.currentPath = 'M -80, 40';
                this.currentIndex = -1;
                this.activateIndex(
                    this.buttons.indexOf(
                        this.group.querySelector('.active')
                    )
                );
                this.group.appendChild(this.svg);
                this.svg.appendChild(this.path);
                this.refreshPath();
                for (const button of this.buttons) {
                    button.addEventListener('click',
                        e => this.onClick(e)
                    );
                }
            }

            onClick(e) {
                const index = this.buttons.indexOf(e.srcElement || e.target);
                this.activateIndex(index);
            }

            refreshPath() {
                this.path.setAttributeNS(null, 'd', this.currentPath);
                this.path.style.strokeDashoffset = (-this.path.getTotalLength() + pathLength) * 0.9965;
            }

            center(index) {
                return index * 160 + 80;
            }

            removeClass(str) {
                if (this.buttons[this.currentIndex]) {
                    this.buttons[this.currentIndex].classList.remove(str);
                }
            }

            addClass(str) {
                if (this.buttons[this.currentIndex]) {
                    this.buttons[this.currentIndex].classList.add(str);
                }
            }

            activateIndex(index) {
                const lastCenter = this.center(this.currentIndex);
                const nextCenter = this.center(index);
                const offset = index < this.currentIndex ? -50 : 50;
                const curve = index < this.currentIndex ? -30 : 30;
                this.currentPath += `
      L ${lastCenter + offset}, 40
      C ${lastCenter + offset + curve}, 40
        ${lastCenter + offset + curve},  0
        ${lastCenter + offset},  0
      L ${lastCenter - offset},  0
      C ${lastCenter - offset - curve},  0
        ${lastCenter - offset - curve}, 40
        ${lastCenter - offset}, 40
      L ${nextCenter + offset}, 40
      C ${nextCenter + offset + curve}, 40
        ${nextCenter + offset + curve},  0
        ${nextCenter + offset},  0
      L ${nextCenter - offset},  0
      C ${nextCenter - offset - curve},  0
        ${nextCenter - offset - curve}, 40
        ${nextCenter - offset}, 40
      L ${nextCenter}, 40
    `;
                this.removeClass('active');
                this.currentIndex = index;
                this.addClass('active');
                {#$('#options-input').attr('value', this.)#}
                this.refreshPath();
            }
        };

        const groups = Array.prototype.slice.call(document.querySelectorAll('.btn-group'));
        for (const group of groups) {
            console.log(new BtnGroup(group));
        }

        {#검색바 클릭 이벤트#}
        $(document).on('ready', function () {
            $('.field').on('keydown', function (event) {
                $('body').addClass('is-type');
                if ((event.which === 8) && $(this).val() === '') {
                    $('body').removeClass('is-type');
                }
            });

        });

        var getUrlParameter = function getUrlParameter(sParam) {
            var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;

            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');

                if (sParameterName[0] === sParam) {
                    return sParameterName[1] === undefined ? true : sParameterName[1];
                }
            }
        };
        // 정렬방식 셀렉트 박스 유지
        $(document).ready(function () {
            var groupid = {{ selected_groupid }}
                console.log(groupid)
            {#var sort = getUrlParameter('sort');#}
            var date_start = getUrlParameter('date-start');
            var date_end = getUrlParameter('date-end');
            var category = getUrlParameter('filter-category');

            if (date_start) {
                console.log(date_start)
                $('.filter-date input[name=date-start]').val(date_start)
            }
            if (date_end) {
                console.log(date_end)
                $('.filter-date input[name=date-end]').val(date_end)

            }
            if (category) {
                console.log(category)
                {#$('.filter-date input[name=date-end]').val(date_end)#}
                var select = $("#category");
                select.val(category).prop('selected', true);

                var select_name = select.children("option:selected").text();
                console.log('카테고리선택', select_name);
                select.siblings("label").text(select_name);
            }
            if (groupid) {
                groupid.map(function (e) {
                    console.log(e)
                    $('.filter-group > ul > li >input[value="' + e + '"]').prop("checked", false);
                })
            }
        });

        //맨 위로 올라가게 하기
        $(document).ready(function () {
            $(window).scroll(function () {
                if ($(this).scrollTop() > 400) {
                    $('.top').fadeIn();
                } else {
                    $('.top').fadeOut();
                }
            });
            $('.top').click(function () {
                $('html, body').animate({scrollTop: 0}, 400);
                return false;
            });
        });
    </script>
    {% include "search/Search_Ajax.html" %}
{% endblock %}

