{#<link rel="stylesheet" href="{% static 'widgets/rateit/rateit.css' %}"/>#}
{#<script#}
{#        src="https://code.jquery.com/jquery-3.4.1.min.js"#}
{#        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="#}
{#        crossorigin="anonymous"></script>#}
{#<script src="{% static 'widgets/rateit/jquery.rateit.min.js' %}"></script>#}

<style>
    .temp {
        width: 80%;
        margin: 50px auto;
    }

    .rateit{
        width: 90px;
        height: 17.5px;
        overflow: hidden;
    }

    {# 북마크 & 이메일 - ajax랑 동시에 적용됨#}
    .bookmark {
        background-color: transparent;
        background-repeat: no-repeat;
        padding: 10px 20px;
        display: inline;
        float: right;
        border: none;
    }

    .post_email {
        display: inline;
        float: right;
        margin-right: 10px;
    }

    .post_email .fa-envelope::before {
        display: none;
    }

    .post_email a i {
        font-size: 38px;
    }

    #callmorepost {
        position: relative;
        width: 100%;
        height: 35px;
        color: white;
        background-color: #0086b3;
        padding: 0;
        font-weight: bold;
        font-size: 17px;
        border: none;
        border-radius: 5px;
        margin: 0 auto;
    }

    {#------------new feed css------------#}
    .feed {
        width: 95%;
        border: #e9ecef 1px solid;
        border-radius: 5px;
        box-shadow: #b0bec9 2px 2px 2px;
        font-family:나눔스퀘어, NanumSquare;
        padding: 20px 20px;
        margin-bottom: 20px;
    }

    .feed a {
        color: black;
    }

    .feed a:hover{
        font-weight: bold;
        color: #514aac;
    }

    .feed-content {
        margin: 0px;
        padding: 10px;
        display: flex;
        flex-direction: column;
    }

    .feed-content > p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 700px;
        height: 24px;
    }

    .feed-main {
        display: flex;
        justify-content: space-between;
    }

    .feed-title {
        font-size: 24px;
        font-weight: bold;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    .meta-category {
        margin-left: 15px;
        font-size: 16px;
        font-weight: lighter;
    }

    .feed-name {
        padding: 10px;
        font-size: 17px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .meta-bookmark {
        font-size: 32px;
    }

    .feed-meta {
        display: flex;
        justify-content: space-between;
    }

    .meta-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .meta-date {
        display: flex;
        font-size: 14px;
        color: #3c3c3c;
    }

    .badge {
        display: inline-block;
        padding: .25em .4em;
        font-size: 75%;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: .25rem;
    }

    .badge-dark {
        color: #fff;
        background-color: #343a40;
    }

    .meta-info > div {
        padding-right: 5px;
        margin-right: 5px;

    }

    div.meta-etc {
        display: flex;
    }

    hr {
        box-sizing: content-box;
        height: 0;
        margin-top: 1rem;
        margin-bottom: 1rem;
        border-top: 1px solid;
    }

    {#---------------------------------add post feed css-------------------------------------#}

</style>
