{% load static %}

{% if posts %}
    <script src="{% static 'widgets/rateit/jquery.rateit.min.js' %}"></script>
    {% for post in posts %}
        <div class="profile_post_list_ajax">
            <div class="profile_post_first_con">
                <div class="profile_post_title"><a href="{% url 'post:post_detail' post.pk %}">{{ post.title }}</a>
                </div>
                <div class="profile_post_category">{{ post.category }}</div>
            </div>
            <div class="profile_post_contents">{{ post.contents| striptags | truncatechars:100 }}</div>
            <div class="profile_post_sec_con">
                <div class="profile_post_date"><i class="far fa-calendar-alt"></i> {{ post.start_date }}
                    ~ {{ post.end_date }}</div>
                <div class="profile_post_bookmark_count">
                    <i class="fas fa-bookmark"></i> {{ post.bookmark.count }}
                </div>
                <div class="rateit" data-rateit-value="{{ post.score }}" data-rateit-ispreset="true"
                     data-rateit-readonly="true"></div>
            </div>
            <div class="profile_post_tag">
                <i class="fa fa-tags" aria-hidden="true"></i>
                {% for post_tag in post.tags.all %}
                    <a href="{% url 'search:main_search' %}?q={{ post_tag }}&options=tags"><span class="badge badge-dark">{{ post_tag }}</span></a>
                    {#                    <a href="{% url 'search:tag_search' post_tag %}">#{{ post_tag }}</a>#}
                {% endfor %}
            </div>
        </div>
        <br>
    {% endfor %}
{% endif %}
