{% load static %}

{% if posts %}
    <script src="{% static 'widgets/rateit/jquery.rateit.min.js' %}"></script>
    {% for post in posts %}
        <div class="profile_post_list_ajax">
        <div class="profile_post_ajax_title">제목 : <a href="{% url 'post:post_detail' post.pk %}">{{ post.title }}</a></div>
            <div>작성자 : {{ post.user.user_profile.name }}</div>
            <div>활동기간: {{ post.start_date }} ~ {{ post.end_date }}</div>
            <div class="profile_post_ajax_tag">
                태그 :
                {% for post_tag in post.tags.all %}
                    <a href="{% url 'search:main_search' %}?q={{ post_tag }}&options=tags">#{{ post_tag }}</a>
                    {#                    <a href="{% url 'search:tag_search' post_tag %}">#{{ post_tag }}</a>#}
                {% endfor %}
            </div>
            <div>내용: {{ post.contents|truncatechars_html:85|safe }}</div>
            <div>평점:
                <div class="rateit" data-rateit-value="{{ post.score }}" data-rateit-ispreset="true"
                     data-rateit-readonly="true"></div>
            </div>
        </div>
        <br>
    {% endfor %}
{% endif %}
