{% extends 'base.html' %}

{% block content %}
    {% for post in posts %}
        <div>
            <div>제목 : <a href="{% url 'post:post_detail' post.pk %}">{{ post.title }}</a></div>
            <div>작성자 : <a href="{% url 'myprofile:profile_detail' post.user.pk %}">{{ post.user.user_profile.name }}</a></div>
            <div>활동기간: {{ post.start_date }} ~ {{ post.end_date }}</div>
            <div>태그: {{ post.tags.all |join:"," }}</div>
            <div>평점 : {{ post.score }}</div>
        </div>
        <br>
    {% endfor %}
{% endblock %}

