<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2><a href="{% url 'post:post_create' %}">글 작성하기</a></h2>
    {% for post in posts %}
        <div>
        <p>
            제목 : <a href="{% url 'post:post_detail' post.pk %}">{{ post.title }}</a> <br>
            작성자 : {{ post.user }} <br>
            평점 : {{ post.score }} <br>
        </p>
        </div>
    {% endfor %}

</body>
</html>
