<style>
    form{
        background-color: white;
        border-radius: 5px;
        box-shadow: 2px 2px 2px #b0bec9;
        padding: 10px 10px;
    }
    form p{
        background-color: transparent;
    }
    form label{
        background-color: transparent;
    }
    form div{
        background-color: transparent;
    }
    form div strong{
        background-color: transparent;
    }
    form #id_photo{
        background-color: transparent;
    }
    form .helptext{
        background-color: white;
    }
</style>

{% extends 'base.html' %}

{% block content %}
    <div>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <p>
                {{ postform.as_p }}
            </p>
            <button type="submit">제출</button>
        </form>
    </div>
{% endblock %}

