<style>
    .temp {
        width: 80%;
        margin: 50px auto;
    }
    form{
        background-color: white;
        border-radius: 5px;
        box-shadow: 2px 2px 2px #b0bec9;
        padding: 30px 50px;
        border: 0.5px solid #b0bec9;
    }
    form p{
        background-color: transparent;
        margin-bottom: 15px;
    }
    form label{
        background-color: transparent;
    }
    form div{
        background-color: transparent;
    }
    form div strong{
        background-color: transparent;
    }
    form #id_photo{
        background-color: transparent;
    }
    form .helptext{
        background-color: white;
    }
</style>

{% extends 'base.html' %}

{% block header %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    {# <link rel="stylesheet" href="/resources/demos/style.css"> #}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#id_start_date").datepicker();
            $("#id_end_date").datepicker();
        });
    </script>
{% endblock %}

{% block content %}
<div class="temp">
    <div>
        <form action="" method="POST" enctype="multipart/form-data" autocomplete="off">
            {% csrf_token %}
            <p>
                {{ postform.as_p }}
            </p>
            <button type="submit">제출</button>
        </form>
    </div>
</div>
{% endblock %}

