<style>
    .temp {
        width: 80%;
        margin: 50px auto;
    }

    form {
        background-color: white;
        border-radius: 5px;
        padding: 10px 10px;
        box-shadow: 2px 2px 2px #b0bec9;
        width: 80%;
        margin: 10px auto;
        border: 1px solid #b0bec9;
        padding-left: 10%;
        box-sizing: border-box;
    }
    form p{
        background-color: transparent;
        margin-top: 20px;
    }
    form label{
        background-color: transparent;
    }
    form div{
        background-color: transparent;
    }
    form div strong{
        background-color: transparent;
    }
    form .submit_btn{
        background-color: #1a237e;
        border-radius: 5px;
        color: white;
        margin-top: 30px;
        margin-bottom: 30px;
        width: 250px;
        height: 40px;
        margin-left: 30%;
    }
    form .summernote-div{
        margin-top: 10px;
    }
    input{
        width: 200px;
        height: 30px;
        border-radius: 5px;
        border: solid 1px #b0bec9;
        line-height: 20px;
        align-content: center;
        padding-left: 10px;

    }
    input[type=checkbox] {
        border: solid 1px #b0bec9;
        width: 20px;
        height: 20px;
    }

    textarea {
        border: solid 1px darkgrey;
        border-radius: 5px;
    }
    input[type=file]{
        border: none;
    }
    strong{
        display: none;
    }

</style>

{% extends 'base.html' %}

{% block header %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{#    <link rel="stylesheet" href="/resources/demos/style.css">#}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $.datepicker.setDefaults({
            dateFormat: 'yy-mm-dd',
            prevText: '이전 달',
            nextText: '다음 달',
            monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
            monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
            dayNames: ['일', '월', '화', '수', '목', '금', '토'],
            dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
            dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
            showMonthAfterYear: true,
            yearSuffix: '년'
        });

        $(function () {
            $("#id_start_date").datepicker();
            $("#id_end_date").datepicker();
        });

    </script>

{% endblock %}


{% block content %}
    <div class="temp">
        <form action="" method="POST" enctype="multipart/form-data" autocomplete="off">
            {% csrf_token %}
            <p>
                {% if error_message %}
                    <p style="color: red;">{{ error_message }}</p>
                {% endif %}
                {{ postform.as_p }}
            </p>
            <button class="submit_btn" type="submit">제출</button>
        </form>
    </div>
{% endblock %}

