{% extends 'base.html' %}

{% block content %}
검색태그 : {{ tags }} <br> <br> <br>

<a href="{% url 'post:post_list' %}">리스트로 돌아가기</a>

{% for post in posts_data %}
    <div>
        {% for k,v in post.items %}
            {% if k == 'title' %}
                {{ k }} : <a href="{% url 'post:post_detail' post.id %}">{{ v }}</a>
            {% else %}
                {{ k }} : {{ v }}
            {% endif %}
            <br>
        {% endfor %}
        <br><br>
    </div>


{% endfor %}

{% endblock %}
