{% extends 'base.html' %}

{% block content %}
    {% for alarm in alarms %}
        <div>{{ alarm.message }}</div>
    {% endfor %}

    {% if alarms %}
        <input id="alarm_delete_btn" type="button" alarms="{{ alarms }}" value="모든 알림 삭제">
    {% else %}
        <div>알람이 없습니다.</div>
    {% endif %}

    <script type="text/javascript">
        $('#alarm_delete_btn').click(function () {
            if (confirm("정말로 삭제하시겠습니까?")) {
                var alarms = $(this).attr('alarms');
                $.ajax({
                    type: "POST",
                    url: "{% url 'alarms:alarm_delete'%}",
                    data: {
                        'alarms': alarms,
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                    },
                    dataType: "html",
                    success: function (response) {  //통신 성공시 메시지 출력
                        alert("정상적으로 삭제되었습니다.");
                    },
                    error: function (request, status, error) { //통신 실패시 요청관리페이지로 리다이렉트
                        alert("잘못된 요청입니다. error:" + error);
                    },
                })
            } else {
                return
            }
        });
    </script>
{% endblock %}
