<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alarm</title>
</head>
<body>
    <textarea id="chat-log" cols="20" rows="10"></textarea>
</body>

<script>
    //--------websocket에서 새로운 message를 보내면 이를 textarea에 출력----------
    username='{{ username }}';  //views.py에서 받은 username
    var chatSocket = new WebSocket(
        'ws://' + window.location.host + '/ws/test/' + username + '/'
    );

    //shareme에서 받아온 data를 통해 message 출력
   chatSocket.onmessage = function (e) {
        console.log(e); //e == message
        var data = JSON.parse(e.data); //data를 받아와서
        var message = data['message']; //message 출력
        document.querySelector('#chat-log').value += (message);
    };
    chatSocket.onopen = function (e) {
        console.log("연결 성공");
    };
    chatSocket.onclose = function (e) {
      console.log('Chat socket closed unexpectedly');
    };

</script>
</html>