<!DOCTYPE html>
<html lang="en">
<head>
    <title>ShareMe</title>
</head>
<div><button id="btn">가입 독촉</button></div>

<script>
    //----------button를 누르면 views에 data 전송------------
    var btn = document.getElementById('btn');
    var xhr = new XMLHttpRequest(); //file upload
    var username = '{{ username }}';

    btn.addEventListener("click", function () {
        simple(this.innerHTML);
    });

    function simple(event) {
        xhr.open("POST", window.location.href, true);
        xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify({
            'message': username + "님이 " + event + "그룹 요청을 보냈습니다."
        }));
    };
</script>
</html>