
<style>

    .group_create_form {
        padding: 10px 10px 10px 10px;
    }

    form {
        background-color: white;
        width: 50%;
        margin: 10px auto;
        padding: 10px 10px 10px 10px;
    }

</style>
{#{% block content %}#}
{#<form action="" method="post">{% csrf_token %}#}
{#{{ form.as_p }}#}
{#<input type="submit" value="그룹생성" />#}
{#</form>#}
{#{% endblock %}#}
{% extends 'base.html' %}
{% block content %}
    <div class="group_create_form">
        <form action="" method="post" class="form-horizontal">
            {% csrf_token %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    {{ error }}
                </div>
            {% endfor %}
            {% for field in form.visible_fields %}
                <div class="form-group">
                    {{ field.label_tag }} {{ field }}
                    {% if field.help_text %}
                        <p class="help-block">
                            {{ field.help_text }}
                        </p>
                    {% endif %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            {{ error }}
                        </div>
                    {% endfor %}
                </div><br>
            {% endfor %}
            <input type="submit" value="그룹저장">
        </form>
    </div>
{% endblock %}