{#<form action="" method="post">{% csrf_token %}#}
{#{{ form.as_p }}#}
{#<input type="submit" value="그룹생성" />#}
{#</form>#}


<form action="" method="post" class="form-horizontal">
    {% csrf_token %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
    {% endfor %}
    {% for field in form.visible_fields %}
        <div class="form-group">
            {{ field.label_tag }} {{ field }}
            {% if field.help_text %}
                <p class="help-block">
                    {{ field.help_text }}
                </p>
            {% endif %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    {{ error }}
                </div>
            {% endfor %}
        </div><br>
    {% endfor %}
    <input type="submit" value="그룹저장">
</form>