{% extends 'base.html' %}
{% load static %}

{% block header %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>

    <style>

        .group_detail_content_row {
            width: 80%;
            margin: 0 auto;
        }

        .group_detail_content_col {
            display: inline-block;
            width: 42%;
            background-color: white;
            float: left;

            margin: 30px 10px 30px 10px;
            padding: 20px 20px 20px 20px;
            border: 0.1px solid #b0bec9;
            box-shadow: 2px 2px 2px #b0bec9;
        }

        #group_notes_show {
            padding: 10px 10px 10px 10px;
            margin: 2px 1px;
        }

        .group_title {
            font-size: 20px;
            font-weight: bold;
        }

        .bold {
            font-weight: bold;
            color: #101010;
        }

        .a_tag {
            font-weight: bold;
            color: #1a237e;
        }

        .delete_member_button {
            height: 30px;
            width: 50px;
            font-size: 12px;
        }

        .message_box {
            display: block;
        }

        .message_box_content {
            display: inline-block;
        }

        .allow_button, .disallow_button {
            cursor: pointer;
            height: 30px;
            font-size: 16px;
            line-height: 10px;
            background: transparent;
            display: inline-block;
            padding: .5em 1em;
            color: #1a237e;
            font-weight: bold;
            border-radius: 5px;
            border: 2px solid #1a237e;
        }

        .input_button {
            outline: none;
            line-height: 38px;
            width: 15%;
            height: 48px;
            cursor: pointer;
            background: transparent;
            color: #1a237e;
            font-size: 16px;
            font-weight: bold;
            border-radius: 5px;
            border: 2px solid #1a237e;
        }

        .btn:hover,
        .btn:focus {
            background: #1a237e;
            color: white;
        }

        ul.tabs {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        ul.tabs li {
            background: none;
            color: #222;
            display: inline-block;
            padding: 10px 15px;
            cursor: pointer;
        }

        ul.tabs li.current {
            background: #ededed;
            color: #222;
        }

        .tab-content {
            display: none;
            background: #ededed;
            padding: 15px;
        }

        .tab-content.current {
            display: inherit;
        }

        .input_text {
            width: 70%;
            height: 25px;
            background: transparent;
            padding: 10px;
            margin: 10px 0;
            text-indent: 10px;
            outline: none;
            border: 2px solid #1a237e;
            font-size: 16px;
            border-radius: 5px;
            font-family: 'Nunito', sans-serif;
        }


        .delete_member_button {
            background: transparent;
            border: 0;
            color: #1a237e;
            outline: none;
        }

        .fa-crown {
            font-size: 20px;
            color: #1a237e;
            width: 40px;
            height: 30px;
            padding: 0 0 0 10px;
        }

        .delete_member_button i {
            cursor: pointer;
            font-size: 20px;
        }


    </style>
{% endblock %}

{% block content %}

    <div class="group_detail_content">
        <div class="group_detail_content_row">
            <div class="group_detail_content_col group_detail_content_col_1">
                <div class="group_detail">
                    <div class="group_title">그룹명: {{ group.group_name }}</div>
                    <br><br>
                    <span class="bold">카테고리:</span> {{ group.get_group_category_display }}<br><br>
                    <span class="bold">그룹 관리자:</span> {{ group.user_profile.name }}({{ group.manager }})<br><br>
                    <span class="bold">그룹 설명:</span><br>
                    <div id="group_notes_show">{{ group.notes }}</div>
                    <br>
                    <span class="bold">검색 허용:</span>
                    {% if group.is_searchable == True %}
                        검색 가능
                    {% else %}
                        검색 불가능
                    {% endif %}
                    <br><br>
                    {% if request.user == group.manager %}
                        <span class="bold">그룹 검색 코드:</span> {{ group.access_code }}<br>
                    {% endif %}
                    <br>
                    <hr>
                    <br>

                    {% if request.user == group.manager %}
                        <a class="a_tag" href="{% url 'group_management:update_group' group.id %}">그룹 정보 변경</a><br><br>
                        <a class="a_tag" href="javascript:delete_group()">그룹 삭제</a><br><br>
                    {% elif request.user in group.members.all %}
                        <a class="a_tag" href="javascript:secede_group()">그룹 탈퇴</a><br>
                    {% else %}
                        <a class="a_tag" href="{% url 'group_management:request_group' group.id %}">가입 신청</a><br>
                    {% endif %}
                </div>
            </div>

            {#------------------------------------------------ 위: left/ 아래: right -------------------------------------------------------------------#}

            {% if request.user == group.manager %}
                <div class="group_detail_content_col group_tab_container">
                    <ul class="tabs">
                        <li class="tab-link current" data-tab="tab-1">회원 목록 (<span
                                id="member_num">{{ group.members.count }}</span>)
                        </li>
                        <li class="tab-link" data-tab="tab-2">가입 요청 (<span id="message_num">{{ messages.count }}</span>)
                        </li>
                    </ul>

                    <div id="tab-1" class="group_member_list tab-content current">
                        <form action="" method="get" autocomplete="off">
                            <input class="input_text" type="text" name="q" value="{{ q }}"
                                   placeholder="이름이나 아이디를 검색하세요.">
                            <button class="btn input_button" type="submit">검색</button>
                        </form>
                        <br><br>

                        {% for member in members %}
                            <div id="delete_member_div-{{ member.id }}">
                                {% if member == group.manager %}
                                    <i class="fas fa-crown"></i>
                                {% elif request.user == group.manager and member != group.manager %}
                                    <button title="회원 삭제" type="button" class="delete_member_button"
                                            id="delete_member_button-{{ member.id }}" member_id="{{ member.id }}"
                                            group_id="{{ group.id }}"><i class="fas fa-minus-circle"></i>
                                    </button>
                                {% endif %}
                                <a class="a_tag" href="{% url 'myprofile:profile_detail' member.pk %}">
                                    {{ member.user_profile.name }} ({{ member.username }})</a>
                                <br><br>
                            </div>
                        {% endfor %}
                    </div>

                    <div id="tab-2" class="tab-content">
                    <br>
                        {#                        <span class="bold">그룹 가입 요청 ({{ messages.count }})</span><br><br>#}
                        {% if not messages %}
                            <span>&nbsp;새로 들어온 요청이 없습니다.</span>
                        {% endif %}
                        {% for message in messages %}
                            <div class="message_box" id="message_box-{{ message.id }}">
                                <div class="message_box_content">
                                    <span>{{ message.sender.user_profile.name }} ({{ message.sender.username }})</span>
                                </div>&nbsp;&nbsp;&nbsp;
                                <div class="message_box_content">
                                    <form action="" id="group_request_form-{{ message.id }}" class="group_request_form"
                                          method="post">
                                        {% csrf_token %}
                                        <button type="button" class="btn allow_button" data-id="{{ message.id }}">수락
                                        </button>
                                        <button type="button" class="btn disallow_button" data-id="{{ message.id }}">거절
                                        </button>
                                    </form>
                                </div>
                            </div>
                            <br>
                        {% endfor %}
                    </div>
                </div>

            {% elif request.user in group.members.all %}
                <div class="group_detail_content_col">
                    <div class="group_title">회원 목록 ({{ group.members.count }})</div>
                    <br>
                    <div class="group_member_list">
                        <form action="" method="get" autocomplete="off">
                            <input class="input_text" type="text" name="q" value="{{ q }}"
                                   placeholder="이름이나 아이디를 검색하세요.">
                            <button class="btn input_button" type="submit">검색</button>
                        </form>
                        <br><br>

                        {% for member in members %}
                            <div id="delete_member_div-{{ member.id }}">
                                <a class="a_tag" href="{% url 'myprofile:profile_detail' member.pk %}">
                                    {{ member.user_profile.name }} ({{ member.username }})</a>
                                {% if member == group.manager %}
                                    <i class="fas fa-crown"></i>
                                {% endif %}
                                <br><br>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script async type="text/javascript">
        $(".allow_button").click(function () {
            var pk = $(this).attr('data-id');
            $.ajax({
                type: "POST",
                url: "{% url 'group_management:allow_request' %}",
                data: {
                    'pk': pk,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                dataType: "html",
                success: function (response) {  //통신 성공시 메시지 출력
                    $("#message_box-" + pk).hide();
                    var member_num = document.getElementById("member_num").innerHTML * 1 + 1;
                    document.getElementById("member_num").innerHTML = member_num;
                    var message_num = document.getElementById("message_num").innerHTML * 1 - 1;
                    document.getElementById("message_num").innerHTML = message_num;
                },
                error: function (request, status, error) { //통신 실패시 요청관리페이지로 리다이렉트
                    alert("잘못된 요청입니다. error:" + error);
                    window.location.replace("{% url "group_management:detail_group" group.id %}");
                },
            });
        });

        $(".disallow_button").click(function () {
            var pk = $(this).attr('data-id');
            $.ajax({
                type: "POST",
                url: "{% url 'group_management:disallow_request' %}",
                data: {
                    'pk': pk,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                dataType: "html",
                success: function (response) {  //통신 성공시 메시지 출력
                    $("#message_box-" + pk).hide();
                    var message_num = document.getElementById("message_num").innerHTML * 1 - 1;
                    document.getElementById("message_num").innerHTML = message_num;
                },
                error: function (request, status, error) { //통신 실패시 요청관리페이지로 리다이렉트
                    alert("잘못된 요청입니다. error:" + error);
                    window.location.replace("{% url "group_management:detail_group" group.id %}");
                },
            });
        });

        $(".delete_member_button").click(function () {
            if (confirm("정말 이 멤버를 삭제할까요?")) {}
            else {
                return false;
            }
            var member_id = $(this).attr('member_id');
            var group_id = $(this).attr('group_id');
            {#var deleted_member_div = document.getElementById("delete_member_div-" + memeber.id);#}

            $.ajax({
                type: "POST",
                url: "{% url 'group_management:delete_member' %}",
                data: {
                    'member_id': member_id,
                    'group_id': group_id,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                dataType: "html",
                success: function (response) {  //통신 성공시 메시지 출력
                    $("#delete_member_div-" + member_id).hide();
                    var member_num = document.getElementById("member_num").innerHTML * 1 - 1;
                    document.getElementById("member_num").innerHTML = member_num;
                },
                error: function (request, status, error) { //통신 실패시 요청관리페이지로 리다이렉트
                    alert("잘못된 요청입니다. error:" + error);
                    window.location.replace("{% url "group_management:detail_group" group.id %}");
                },
            });
        });

        function delete_group() {
            if (confirm("정말 그룹을 삭제할까요? 삭제하면 되돌릴 수 없습니다.")) {
                location.href = "{% url 'group_management:delete_group' group.id %}"
            } else {
                return false;
            }
        }

        function secede_group() {
            if (confirm("정말 그룹 탈퇴를 하실겁니까?")) {
                location.href = "{% url 'group_management:secede_group' group.id %}";
            } else {
                return false;
            }
        }

        $(document).ready(function () {

            $('ul.tabs li').click(function () {
                var tab_id = $(this).attr('data-tab');
                if (tab_id == "tab-1")
                    window.location.replace("{% url "group_management:detail_group" group.id %}");

                $('ul.tabs li').removeClass('current');
                $('.tab-content').removeClass('current');

                $(this).addClass('current');
                $("#" + tab_id).addClass('current');
            })

        })
    </script>

{% endblock %}


