<style>

    .group_detail_content_row {
        width: 80%;
        margin: 0 auto;
    }

    .group_detail_content_col {
        display: inline-block;
        width: 42%;
        background-color: white;
        float: left;
        height: 1000px;

        margin: 30px 10px 30px 10px;
        padding: 20px 20px 20px 20px;
        box-shadow: gray 1px 1px 1px 1px;
    }

    #group_notes_show {
        padding: 10px 10px 10px 10px;
        margin: 2px 1px;
    }

    .group_title {
        font-size: 20px;
        font-weight: bold;
    }

    .bold {
        font-weight: bold;
        color: #101010;
    }

    .a_tag {

        color: #1a237e;
    }
    .input_text {
        width: 70%;
        height: 30px;
        font-size: 16px;
        border: 1px solid gray;
        background-color: aliceblue;
    }

    .input_button {
        height: 35px;
        font-size: 15px;
        font-weight: bold;
        background-color: ;
        width: 50px
    }

    .delete_member_button {
        height: 30px;
        width: 50px;
        font-size: 12px;
    }

</style>
{% extends 'base.html' %}

{% block content %}

    <div class="group_detail_content">
        <div class="group_detail_content_row">
            <div class="group_detail_content_col group_detail_content_col_1">
                <div class="group_detail">
                    <div class="group_title">그룹명: {{ group.group_name }}</div>
                    <br><br>
                    <span class="bold">카테고리:</span> {{ group.get_group_category_display }}<br><br>
                    <span class="bold">그룹 설명:</span><br>
                    <div id="group_notes_show">{{ group.notes }}</div>
                    <br>
                    <span class="bold">검색 허용:</span>
                    {% if group.is_searchable == True %}
                        검색 가능
                    {% else %}
                        검색 불가능
                    {% endif %}
                    <br><br>
                    {% if request.user == group.manager %}
                        <span class="bold">그룹 검색 코드:</span> {{ group.access_code }}<br>
                    {% endif %}
                    <br>
                    <hr>
                    <br>
                    {% if request.user == group.manager %}
                        <a class="a_tag" href="{% url 'group_management:update_group' group.id %}">그룹 정보 변경</a><br><br>
                        <a class="a_tag" href="{% url 'group_management:delete_group' group.id %}">그룹 삭제</a>
                    {% elif request.user in group.members.all %}
                        <a class="a_tag" href="{% url 'group_management:secede_group' group.id %}">그룹 탈퇴</a>
                    {% else %}
                        <a class="a_tag" href="{% url 'group_management:request_group' group.id %}">가입 신청</a><br>
                    {% endif %}
                </div>
            </div>
            {% if request.user in group.members.all %}
                <div class="group_detail_content_col">
                <div class="group_title">회원 목록</div><br>
                <div class="group_member_list">
                <form action="" method="get">

                    <input class="input_text" type="text" name="q" value="{{ q }}">
                    <button class="input_button" type="submit">검색</button>
                </form>
                <br>

                {% for member in members %}
                    <a class="a_tag" href="{% url 'myprofile:profile_detail' member.pk %}">
                        {{ member.user_profile.name }}({{ member.username }})</a>
                    {% if request.user == group.manager %}
                        <button type="button" class="delete_member_button"
                                id="delete_member_button-{{ member.id }}" member_id="{{ member.id }}"
                                group_id="{{ group.id }}">회원삭제
                        </button>
                    {% endif %}
                    <br><br>
                {% endfor %}

            {% endif %}
            </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script async type="text/javascript">
        $(".delete_member_button").click(function () {
            var member_id = $(this).attr('member_id');
            var group_id = $(this).attr('group_id');
            $.ajax({
                type: "POST",
                url: "{% url 'group_management:delete_member' %}",
                data: {
                    'member_id': member_id,
                    'group_id': group_id,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                dataType: "html",
                success: function (response) {  //통신 성공시 메시지 출력
                    $("#delete_member_button-" + member_id).html('삭제된 멤버입니다.')

                },
                error: function (request, status, error) { //통신 실패시 요청관리페이지로 리다이렉트
                    alert("잘못된 요청입니다. error:" + error)
                    window.location.replace("{% url "group_management:detail_group" group.id %}");
                },
            });
        })

    </script>

{% endblock %}


